<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/vue.js"></script>
</head>

<body>
<div id="app">
    <!--用 v-model 指令在表单 <input>、<textarea> 及 <select> 元素上创建双向数据绑定。
    它会根据控件类型自动选取正确的方法来更新元素-->
    <input v-model.number.trim="message" placeholder="edit me">
    <p>Message is: {{ message }}</p>

    <br><br>

    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>


    <br><br>

    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>

    <br><br>

    <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
        </option>
    </select>
    <span>Selected: {{ selected }}</span>
</div>
<script>
    // 1.列表渲染
    var vm = new Vue({
        el:"#app",
        data: {
            message:'',
            checked:false,
            checkedNames:[],

            selected: 'A',
            options: [
                { text: 'One', value: 'A' },
                { text: 'Two', value: 'B' },
                { text: 'Three', value: 'C' }
            ],
        },
        methods: {

        }
    });

</script>
</body>
</html>